.card{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,.2);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:100%;

height:250px;

object-fit:cover;

}

.card h2{

padding:15px;

}

.card p{

padding:0 15px;

}

.card h3{

padding:15px;

color:#6a1b9a;

}

.card button{

margin:15px;

width:90%;

padding:12px;

background:#6a1b9a;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}